<%- include('../partials/header') %>
    


   
<form id="new-form"  action="/valuables/<%= valuable._id %>?_method=PUT" method="POST">
  <label>Serial Number:</label>
  <input type="text" name="serialNumber" value="<%- valuable.serialNumber %>">
  <label>Description:</label>
  <input type="text" name="description" value="<%- valuable.description %>">
  <label>Color:</label>
  <input type="text" name="color" value="<%- valuable.color %>">
  <label>Made/Manufactured in:</label>
  <input type="text" name="countryOrigin" value="<%- valuable.countryOrigin %>">
  <label>Year Made:</label>
  <input type="text" name="year">
  <label for="pictures">Picture URL</label>
  <input type="text" name="pictures" value="<%- valuable.pictures %>"/>
</label>
<input type="submit" value="Edit Details">
</form>

<%- include('../partials/footer') %>